<form action='<%= track_notes_url(@track) %>' method='POST'>
  <%= auth_token %>
  <textarea name='note[long_note]'>
    Type in here
  </textarea>

  <input type='submit' value="Create Note">
</form>
