<form action='<%= notes_url %>' method='post'>
  <input type=''
         name= ''
         value='<%= form_authentication_token %>'>
  <input type='hidden' name='_method' value='patch'>
  <textarea name='note[note]'>
    Type in here
  </textarea>
</form>
